.navbar {
	background-color: #333;
}
.navbar-brand, .nav-link {
	color: #fff !important;
}
section {
	padding: 60px 0;
}
.bg-dark {
	background-color: #222 !important;
}
.text-light {
	color: #ddd !important;
}
.section-spacing {
	margin-bottom: 40px;
}
.top{
	position: fixed;

}